.centeredDatePicker .react-datepicker {
    width: 100%; /* Stretch the calendar to fill its container */
  }
  
  /* Increase the width and height of the individual days */
  .centeredDatePicker .react-datepicker__day {
    width: 3rem;
    height: 3rem;
    lineHeight: 3rem; /* To vertically align the number in the day box */
  }
  
  /* Adjust the font size of the days numbers */
  .centeredDatePicker .react-datepicker__day-name, 
  .centeredDatePicker .react-datepicker__day,
  .centeredDatePicker .react-datepicker__current-month {
    fontSize: 1.5rem; 
  }
  